*{
    margin:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: rgb(15, 13, 13);
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

button{
    height: 80px;
    width:80px;
    border: none;
    border-radius: 50%;
    font-size: 2.1em;
    font-weight: 700;
    background-color: rgb(36, 35, 35);
    color:white;
    cursor:pointer;
}
button:active{
    background-color: rgb(49, 46, 46);
}
.keys{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    padding: 15px;
}
#display{
    width: 100%;
    padding: 30px;
    font-size: 3rem;
    border: none;
    background-color: rgb(107, 103, 103);
    color:white;
    pointer-events: none;
}
.coloured{
    background-color: orange;
}
.coloured i{
    font-size: 1.9rem;
}
.coloured:active{
    background-color: rgb(168, 137, 79);
}